<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Transaction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/custom_css/dash.css">
    <link rel="stylesheet" href="/assets/custom_css/table.css">
</head>
<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="my-sidebar">
        <a href="#" class="navbar-brand text-light mt-2">
            <div class="h1 display-5 text-dark font-weight-bold">
              <img src="/assets/img/Logo.png" width="280" height="80" alt="logo" class="rounded">
            </div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
          <li class="nav-item w-100">
            <a href="/schedule" class="item-margin nav-link text-dark pl-4 font-weight-bold">
                <i width="10" height="10" class="fas fa-solid fa-calendar"></i>
                <span>Book a Schedule</span>
            </a>
          </li>
          <li class="nav-item w-100">
            <a href="/transaction" class="tab-active nav-link text-dark pl-4 font-weight-bold">
                <i width="10" height="10" class="fas fa-solid fa-list"></i>
                <span>Transaction</span>
            </a>
          </li>
          <li class="nav-item w-100">
            <a href="profile" class="nav-link text-dark pl-4 font-weight-bold">
                <i width="10" height="10" class="fas fa-solid fa-user"></i>
                <span>Profile</span>
            </a>
          </li>
          <li class="nav-item w-100">
            <a href="add-pet" class="nav-link text-dark pl-4 font-weight-bold">
                <i width="10" height="10" class="fas fa-solid fa-plus"></i>
                <span>Add Pet</span>
            </a>
        </li>
        <!--TODO if anything happens during LOGIN and LOGOUT. try to remove href from this-->
        <li class="nav-item w-100">
            <a href="signout" class="nav-link text-dark pl-4 font-weight-bold">
                <i width="10" height="10" class="fas fa-arrow-left "></i>
                <span>Logout</span>
            </a>
        </li>
        </ul>
    </nav>

    <div class="page-content">
        <div class="border-box row">
          <div class="col-sm-3 mt-4 welcome-shadow">
            <h1 class="font-weight-bold text-center">DASHBOARD</h1>
          </div>
          <div class="col-sm-4 mt-4 welcome-shadow">
            <h1 class="font-weight-bold text-center no-gutters">WELCOME, <%= userInfo.username %></h1>
          </div>
        </div>
  
        <!--TODO javascript to test if it can add rows.-->
        <div class="page-body container disable-scroll g-0">
          <div class="row mt-3 ml-2 table-responsive">
            <label class="h4 mb-4">Transactions History</label>
            <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
              <table id="user_transactions" class="text-center table table-success table-bordered border-dark">
                <thead>
                  <tr>
                    <th scope="col">Appointment ID</th>
                    <th scope="col">Date Done</th>
                    <th scope="col">Time</th>
                    <th scope="col">Doctor</th>
                  </tr>
                </thead>
                <tbody id="t-body" data-toggle="collapse" data-target="#appointment_details">
                  <tr id="finished_appointment_row">
                    <th id="appointment_id" scope="row">#4734623</th>
                    <td id="appointment_date">28/09/2022</td>
                    <td id="appointment_time">9:30 AM</td>
                    <td id="appointment_doctor">Dr. Octavius</td>
                  </tr>
                  <tr id="finished_appointment_row">
                    <th id="appointment_id" scope="row">#2344342</th>
                    <td id="appointment_date">28/09/2022</td>
                    <td id="appointment_time">9:30 AM</td>
                    <td id="appointment_doctor">Dr. Octavius</td>
                  </tr>
                  <tr id="finished_appointment_row">
                    <th id="appointment_id" scope="row">#5475845</th>
                    <td id="appointment_date">28/09/2022</td>
                    <td id="appointment_time">9:30 AM</td>
                    <td id="appointment_doctor">Dr. Octavius</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--border border-dark -->
            <div id="appointment_details" class="collapse container rounded text-light p-2 mt-2 custom-detail-container container-bg">
              <div class="row justify-content-start mb-2 h5">
                <div class="col-sm-6">
                  <label for class="">Findings:</label>
                  <p id="transaction_findings">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate maiores consequatur deleniti officia voluptatum suscipit cum quos, dolor iusto quod dolores tenetur eius, laboriosam nemo laborum adipisci, quibusdam voluptatem!</p>
                </div>
                <div class="col-sm-6">
                  <label for class="">Prescriptions:</label>
                  <p id="transaction_prescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate maiores consequatur deleniti officia voluptatum suscipit cum quos, dolor iusto quod dolores tenetur eius, laboriosam nemo laborum adipisci, quibusdam voluptatem!</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
<!--TODO FIND AN OFFLINE BOOTSTRAP SERVER-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>