.sched-node{
    box-shadow: 1px 1px 1px black;
    background-color: rgba(9, 126, 28, 0.5);
    height: 50px;
    width: 50px;
}

ul#scheduled-days li{
    display: inline-block;
}

#scheduled-days li::before{
    content: '\00a0\2022\00a0\00a0';
}