::placeholder{
    margin-left: 0;
    padding: 0;
}

.log-nav-marg{
    margin-left: 18vw;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.input-width{
    width: 100%;
}

.inline-elem{
    display: inline;
}

.submit-width{
    width: 30%;
}

/* body{
    background-image: url('/img/clouds.avif');
} */

.theform{
    background-image: url('/img/clouds.avif');
}

form{
    background-image: url('/img/clouds.avif');
    background-size: cover;
    background-repeat: no-repeat;
}