.top-indent{
    margin-top: 5px;
}

.left-indent-1{
    margin-left: -50px;
}

.left-indent-2{
    margin-left: -25px;
}

ul#scheduled-days li{
    display: inline-block;
}

#scheduled-days li::before{
    content: '\00a0\2022\00a0\00a0';
}
