/*TODO Rename and refactor the transaction.css to tables.css*/

.th{
    border: 1px solid black;
}

tbody > tr:hover {background-color: #85e785;}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.custom-detail-container{
    position: relative;
    height:11.25rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-bg{
    background-color: #8d9a8d;
}
