/*TODO Rename and refactor the transaction.css to tables.css*/

.th{
    border: 1px solid black;
}

tbody > tr:hover {background-color: #85e785;}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

