.vl{
    border-left: 0.5px solid gray;
    height: 50;
}

.log-nav-marg{
    margin-left: 18vw;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.marg-l2{
    margin-left: 2%;
}

.marg-t2{
    margin-top: 2%;
}

.wid-30{
    width: 30%;
}

.wid-90{
    width: 90%;
}

.wid-100{
    width: 100%;
}

.inline-elem{
    display: inline;
}

.theform{
    background-image: url('/assets/img/clouds.avif');
}

body{
    background-image: url('/assets/img/pet_and_owner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 200);
}

.error-msg {
    color: red;
}

.error-box {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb3b3;
    color: red;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
}

h1, h2, h3, label{
    color: rgb(241, 255, 240);
    font-weight: bold;
    font-size: 1em;
}

