* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgba(10, 210, 140, 0.1);
  /* overflow-x: hidden; */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  height: 100vh;
  position: fixed;
  background-color: rgb(237, 232, 232);
  transition: 0.4s;
}

.nav-link {
  border-radius: 10px;
  font-size: 1.25em;
}

/* .nav-link:active, */
.tab-active,
.nav-link:focus,
.nav-link:hover {
  box-shadow: 10px 10px 5px black;
  background-color: rgba(234, 234, 15, 0.5);
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 34px;
}

.navbar-nav > li .logout {
  padding-left: 30px;
  padding-right: 30px;
  /* margin-top: 100px; */
}

.body-section {
  border-radius: 10px;
  border: 12px solid black;
}

.page-content {
  padding-left: 390px;
  /* margin-right: -390px; */
  border-radius: 20px;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

.page-body {
  /* position: fixed; */
  display: block;
  padding-top: 245px;
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
}

.nav-line {
  position: absolute;
  width: 100vw;
  height: 150px;
  left: -1px;
  top: 122px;
  background: rgba(9, 126, 28, 0.2);
  z-index: 1;
}

/* Tab Find Schedule should be below the big navline */
.item-margin {
  margin-top: 85px;
}

li a span {
  margin-left: 20px;
}

.border-box {
  width: 110%;
  height: 130px;
  top: 122px;
  background: #7cbb6e;
  margin-left: -405px;
  margin-right: 0;
  position: fixed;
  opacity: 0.9;
  z-index: 1;
}

.sidebar-col-1 {
  height: 50%;
  width: 400px;
  margin-top: 35px;
  /* margin-left: -10px; */
}

.sidebar-col-2 {
  height: 50%;
  width: 900px;
  margin-top: 35px;
  margin-left: 10px;
}

.sidebar-col-2 > h1 {
  margin-left: -400px;
  text-shadow: 0px 4px 4px rgba(9, 126, 28, 0.8);
}

.welcome-shadow{
  text-shadow: 0px 4px 4px rgba(126, 46, 9, 0.5);
}

::placeholder{
  font-size:large;
}

.disable-scroll{
  overflow-y: hidden;
  overflow-x: hidden;
}

.inline-elem{
  display: inline;
}

.marg-l2{
  margin-left: 2%;
}

.btn-accept{
  background-color: #85e785;
}

.btn-reschedule{
  background-color: #88ad88;
}

.btn-cancel{
  background-color: #258a25;
}

.btn-accept,.btn-cancel,.btn-reschedule{
  box-shadow: 3px 3px 5px black;
}

.findings-textarea{
  resize: none;
}

.error-msg, .required {
  color: red;
}

.closed {
  color: green;
}

.pending {
  color: #ffa31a;
}

.confirmed {
  color: black;
}

.cancelled {
  color: red;
}

.rescheduled {
  color: #1a8cff;
}

.error-box {
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffb3b3;
  color: red;
  padding: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.success-box {
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #4de7a7;
  color: green;
  padding: 20px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}