::placeholder{
    margin-left: 0;
    padding: 0;
}

.log-nav-marg{
    margin-left: 18vw;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.input-width{
    width: 100%;
}

.inline-elem{
    display: inline;
}

.submit-width{
    width: 30%;
}

/* body{
    background-image: url('/img/clouds.avif');
} */

.theform{
    background-image: url('/assets/img/clouds.avif');
}

body{
    background-image: url('/assets/img/vet_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 200);
}

/* form{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(1, 1, 1, 1);
} */

.error-msg {
    color: red;
}

.error-box {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb3b3;
    color: red;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

h1, h2, h3, label{
    color: rgb(241, 255, 240);
    font-weight: bold;
    font-size: 1em;
}