.log-nav-marg{
    margin-left: 18vw;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.label-marg-left{
    margin-left: 90%;
}

.form-in-width{
    width: 60%;
}

.btn-login{
    width: 30%;
}

body{
    background-image: url('/assets/img/sunset.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 200);
}

.pet-landing{
    /* background-image: url("/assets/img/Dog.png"), url("/assets/img/cat.png"); */
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    height: 80vh;
}

a {
    color: rgb(147, 235, 255);
}

.error-box {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb3b3;
    color: red;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
}

h1, h2, h3, label{
    color: rgb(241, 255, 240);
}