.top-indent{
    margin-top: 5px;
}

.left-indent-1{
    margin-left: -50px;
}

.left-indent-2{
    margin-left: -25px;
}

ul#scheduled-days li{
    display: inline-block;
}

#scheduled-days li::before{
    content: '\00a0\2022\00a0\00a0';
}

ul#selected_pet_vaccines li{
    display: inline-block;
}

#selected_pet_vaccines li::before{
    content: '\00a0\2022\00a0\00a0';
}

.hide {
    display: none;
}

.error-box {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb3b3;
    color: red;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.success-box {
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #4de7a7;
    color: green;
    padding: 20px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}